body {
  background: #222 url("../images/conduct-bg.png") fixed no-repeat center center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px; }

.brand-logo {
  font-family: 'Raleway', sans-serif !important; }

.content {
  margin: 50px auto;
  padding: 5px 15px 15px;
  width: 90%;
  color: #eee;
  height: 100%;
  background: rgba(34, 34, 34, 0.6); }
  .content h1 {
    margin-top: 5.17241px;
    font-size: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px; }
  .content h3 {
    font-size: 1.05em;
    font-weight: 600; }
  .content li {
    padding: 5px; }
  .content .warning {
    color: #F44336;
    padding: 1px 10px;
    border-left: 3px solid #F44336;
    display: block; }

a {
  color: #bbb;
  padding: 2px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom: 1px hidden #ccc; }
  a:hover {
    border-bottom: 1px solid #ccc; }
