@import 'mixins';

* {
    margin: 0;
    padding: 0
}
body {
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    color: #fff;
    background: #222 url(../images/cover-1.png) center no-repeat fixed;
    background-size: cover;
}
#rules-title,
.button {
    @include transition(all .2s ease);
    z-index: 100;
    padding: 10px 55px;
    background: rgba(255, 255, 255, .1);
    color: #c8c8c8;
    &:hover {
        background: rgba(200, 200, 200, .2)
    }
}

#online {
    font-weight: 200;
}
#rules-title {
    border-radius: 0px;
}
.admins ul,
.cover-1,
.cover-2,
.cover-3 .section-title,
.rank {
    text-align: center;
    position: relative;
}
.brand-logo {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 100;
}	
.button-collapse {
    margin-top: 5px;
    margin-bottom: 10px
}
.cover-1 {
    font-size: 1.5em;
    color: rgba(255, 255, 255, .4);
    height: 100vh
}
.cover-1 a,
.cover-1 h3 {
    margin-top: 23%
}

.cover-2 {
    background: url(../images/cover-2.png) center fixed;
    background-size: cover;
    height: auto;
    padding-bottom: 40px
}
.rule {
    z-index: 100;
    display: none;
    padding: 30px
}
#rules-title,
.admins>ul>a {
    padding: 10px;
    display: inline-block
}
#rules-title {
    font-size: 1.9em;
    background: rgba(180, 180, 180, .1);
    cursor: pointer;
    @include userselect(none);
    @include transition(all .2s ease);
}
#rules-title:hover {
    background: rgba(150, 150, 150, .2);
    transform: scale(1.03,1.03);
}
.admins>ul>a,
i.rules-icon {
    @include transition(all .2s ease);
}
i.rules-icon {
    position: relative;
    float: right;
    color: rgba(150, 150, 150, .3);
    @include transition(all .2s ease);
    &:hover {
        color: rgba(150, 150, 150, 1)
    }
}
.cover-2 h2,
.cover-2 p {
    width: 75%;
    font-weight: 300;
    margin: 0 auto;
}
.cover-2 p {
    font-size: 1.2em;
    height: auto
}
.section-title {
    font-size: 2.5em;
    color: rgba(255, 255, 255, 1);
    z-index: 100;
    font-weight:100;
}
.cover-3 {
    background: url(../images/cover-3.png) no-repeat fixed;
    background-size: cover
}
.admins>ul>a {
    margin: 5px;
    background: rgba(0, 0, 0, .3);
    @include transition(all .2s ease);
    border-radius:5px;
    z-index: 200;
    font-size: 0.9em;
}
.admins>ul>a:hover {
    background: rgba(70, 70, 70, .15);
    transform: translateY(-3px);
}
.admins ul {
    z-index: 101
}
.admins a li {
    color: rgba(255, 255, 255, .5);
    font-size: 1.1em;
    z-index: 102;
    font-weight:300;
}
.rank {
    font-size: 1.6em;
    z-index: 103;
    font-weight: 200;
}
.rest>li>a,
.useful a {
    padding: 10px;
    z-index: 100;
    text-align: center
}
.cover-1,
.cover-2,
.cover-3 {
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}
.rest>li>a {
    font-size: 1.35em;
    font-weight: 300;
    color: rgba(255, 255, 255, .6);
    border-radius: 10px;
    @include transition(all .2s ease);
    display: inline-block;
    &:hover {
        background: rgba(100, 100, 100, .2);
        color: #fff
    }
}
.rest>li {
    margin-top: 50px;
    display: inline-block;
    @include transition(all .2s ease);
    &:hover {
        transform: translateX(5px)
    }
}

.useful {
    a {
        display: inline-block;
        font-size: 1.05em;
        color: rgba(255, 255, 255, .6);
        border: 2px solid rgba(200, 200, 200, .3);
        margin-right: 10px;
        border-radius: 50px;
        width: 200px;
        @include transition(all .2s ease);
        margin-bottom: 10px;
        
        &:hover {
            background: rgba(100, 100, 100, .1);
            color: #fff;
            transform: translateY(-5px)
        }
    }
    
    h3 {
        font-weight: 100;
    }
    a>li>i {
        font-size: 2em;
        margin-bottom: 10px
    }
}
#note {
    text-align: center;
    color: #ccc;
    border-radius: 150px;
    padding: 15px;
    z-index: 1;
    h5 {
        margin-bottom: -20px
    }
    a {
        color: #c8c8c8;
        font-weight: 700
    }
}

.nav-wrapper {
    margin: -8px;
    background: rgba(20, 20, 20, .5);
    li>a {
        font-weight: 200;
        font-size: .9em;
    }
}
.cover-2 a {
    font-size: 1.17em;
    color: rgba(255, 255, 255, .3);
}
.head-icon {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    border-radius:2px;
}

small {
    font-size:0.9em;
}
.modal {
    background: rgba(10, 10, 10, .8);
    color: #ccc;
    a {
        color: #c8c8c8
    }
    ul {
      display: inline-block;
      li {
        display: inline-block;
        padding:10px;
        margin:4px;
        background: rgba(100, 100, 100, .2);
        @include transition(all .2s ease);
        border-radius: 5px;
        font-size: 0.8em;
        &:hover {
            background: rgba(150, 150, 150, .3);
            }
        }
    }
    h4 {
        margin-bottom: 38px;
        font-size: 1.2em;
        font-weight: 200;
    }
}

.modal-msg {
    background: rgba(#222, .3);
    display: inline-block;
    margin:100px auto;
    padding: 20px 40px;
    h5 {
        font-weight: 100;
        font-size: 0.85em;
        border-bottom: 3px solid rgba(#ccc, 0.3);
        padding-bottom: 20px;
    }
    span {
        font-size: 0.9em;
        font-weight: 200;
    }
}

.modal>.modal-footer {
    background: rgba(50, 50, 50, .3);
    .modal-close {
        font-size: .9em;
        text-transform: none;
    }
}
.waves-effect.waves-brown .waves-ripple {
    background-color: rgba(230, 230, 230, .3)
}
.typed-cursor { display: none; }









@media only screen and (max-width: 768px) {
    .cover-2 h2,
    .cover-2 p {
        width: 100%
    }
    .online-part {
        padding: 25% .7%
    }
    .rule {
        padding: 15px
    }
    .admins>ul>a {
        display: block;
        border-radius: 0
    }
    .head-icon {
        width: 20px;
        height: 20px;
        margin-right: 0;
        float: left;
        border-radius: 50%
    }
    .modal li {
    	display: block;
    	width:100%;
        padding: 5px 70px;
    }
    .modal-msg {
        margin: 25px 0;
    }
    .modal.modal-fixed-footer .modal-content {
        padding: 10px;
    }
}